{% extends 'hometask/layout.html' %}

{% block title %}
    <title>Новостная страница</title>
{% endblock %}


{% block content %}


<h1>Новостная страница</h1>
{% for new in news %}
    <div>
        <h3>
            {{new.title}}
            <p>
                {{new.short_desc}}
            </p>
            <p>
                {{new.text}}
            </p>
            <p>
                {{new.pub_date}}
            </p>
            <p>
                {{new.name}}
            </p>
        </h3>

    </div>

{% endfor %}

{% endblock %}