{% extends 'hometask/layout.html' %}

{% block title %}
    <title>Первая страница на джанго</title>
{% endblock %}


{% block content %}

    <h1> Урок номер 2 по изучению фреймфорка джанго</h1>
<h1>
    Добро пожаловать на наш первый проект, созданный с использованием Django {{caption}}!</h1>
<p>Мы рады представить вам простое, но функциональное веб-приложение, которое продемонстрирует все возможности этого мощного фреймворка.<
Django позволяет быстро разрабатывать безопасные и масштабируемые веб-приложения с минимальными усилиями.

В этом проекте мы сфокусировались на создании простого интерфейса с использованием стандартных компонентов Django, таких как шаблоны и модели.
Каждый элемент сайта был тщательно продуман и оформлен с применением современных инструментов, таких как Bootstrap, для улучшения пользовательского опыта.

Мы надеемся, что данный проект станет отличной отправной точкой для дальнейшего изучения Django и веб-разработки в целом.
В будущем мы планируем добавить больше функционала, улучшить интерфейс и расширить возможности нашего сайта.

Если у вас есть вопросы или предложения, не стесняйтесь связаться с нами!
Спасибо, что посетили наш сайт! Мы ценим ваш интерес и поддержку.</p>



{% endblock %}